<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head > 
    <meta charset="UTF-8">  
        <title>Index</title>
        
		<style type="text/css">
			.task{height: 200px;}
        </style>
        <script type="text/javascript">
        	
        </script>
    </head>
    
    <body>
    <div class="container-fluid">
        <div id="wrapper">
			<div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">待办任务</div>
                        <div class="panel-body task">
                        	<p>待办任务</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">已办任务</div>
                        <div class="panel-body task">
                          	<p>待办任务</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">已完任务</div>
                        <div class="panel-body task">
                            <p>已完任务</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">我的流程</div>
                        <div class="panel-body task">
                            <p>我的流程</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">历史流程</div>
                        <div class="panel-body task">
                            <p>历史流程</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">日历</div>
                        <div class="panel-body task">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </body>

</html>