/.idea
/woooqi-bpm-app/woooqi-bpm-app.iml
/woooqi-bpm-common/woooqi-bpm-common.iml
/woooqi-bpm-design/woooqi-bpm-design.iml
/woooqi-bpm-logic/woooqi-bpm-logic.iml
/woooqi-bpm-test/woooqi-bpm-test.iml
