<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Deploy Manage</title>
		
	    <style type="text/css">
	    </style>
        <script type="text/javascript">
	        $(document).ready(function() {
	        	_initHtml(function(){
	        		$("#base").addClass("active");
		    		$("#template_manage").addClass("active");
		    		$('#side-menu').metisMenu();
	        	});
	    	/* 	
	        	$.ajax({
		 			   type: "POST",
		 			   url: "${ctx}/datasource/getDataSource",
		 			   dataType: 'json',
		 			   async: false,
		 			   success: function(data){
		 				   alert(JSON.stringify(data.rows));
		 			   }
		 			});  */
	        	
	    	});
	        
	        function indexFormatter(value, row, index){
	        	return index+1;
	        }
	        
	        var win_width = $(window).width();
	    	var win_height = $(window).height();
	        function add_datasource(){
	        	d = dialog({
	    			title: '新增数据源',
	    			url : '${ctx}/edit?path=base/base/datasource_manage_update',
	    			width : win_width*0.4,
	    			height : 350,
	    			close:false
	    		});
	    		d.show();
	        	
	        }
	        
	        function edit_datasource(){
	        	var selections = $('#data-table').bootstrapTable('getSelections');
	    		if (selections.length != 1) {
	    			alert("请选择一行数据");
	    			return;
	    		}
	    		
	    		var id = selections[0].id;
	        	if(id == 'default'){
	        		alert("默认数据源信息无法进行此操作");
	        		return;
	        		
	        	}
	        	d = dialog({
	    			title: '修改数据源信息',
	    			url : '${ctx}/edit?path=base/base/datasource_manage_update&id='+id,
	    			width : win_width*0.4,
	    			height : 350,
	    			close:false
	    		});
	    		d.show();
	        }
	        
	        function del_datasource(){
	        	var selections = $('#data-table').bootstrapTable('getSelections');
	    		if (selections.length != 1) {
	    			alert("请选择一行数据");
	    			return;
	    		}
	    		var id = selections[0].id;
	        	if(id == 'default'){
	        		alert("默认数据源无法删除");
	        		return;
	        	} 
	    		if(confirm("删除确认")){
		    		$.ajax({
		 			   type: "POST",
		 			   url: "${ctx}/datasource/delDataSourceById",
		 			   dataType: 'json',
		 			   async: false,
		 			   data:{dataSourceId : id},
		 			   success: function(data){
		 				   if(data.code>=0){
		 					   alert('删除成功');
		 				   }else{
		 					   alert(data.msg);
		 				   }
		 				search();   
		 			   }
		 			}); 
	    		}
	        }
	        
	        function do_datasource(){
	        	var selections = $('#data-table').bootstrapTable('getSelections');
	    		if (selections.length != 1) {
	    			alert("请选择一行数据");
	    			return;
	    		}
	    		var classname = selections[0].classname;
	    		var url = selections[0].url;
	    		var password = selections[0].password;
	    		var username = selections[0].username;
	    		$.ajax({
		 			   type: "POST",
		 			   url: "${ctx}/datasource/dataSourceBean",
		 			   dataType: 'json',
		 			   async: false,
		 			   data:{classname : classname, url : url,password : password, username : username},
		 			   success: function(data){
		 				   if(data.code>=0){
		 					   alert(data.msg);
		 				   }else{
		 					   alert(data.msg);
		 				   }
		 				search();   
		 			   }
		 			}); 	
	        }
	        
	        function queryParams(params) {   //设置查询参数  
	        	var param = {    
	                pageNumber : params.pageNumber-1,    
	                pageSize : params.pageSize,  
	                name : $("#name").val(),
	            };
	        	//alert(JSON.stringify(param)); 
	            return param;                   
	        }
	      	
	        function search(){
	        	$('#data-table').bootstrapTable('refresh', {});  
    	    }
	        
        </script>
	</head>
	<body>
		<div id="wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="btn btn-success" onclick="add_datasource()">新增</button>
							<button type="button" class="btn btn-warning" onclick="edit_datasource()">编辑</button>
							<button type="button" class="btn btn-primary" onclick="do_datasource()">生效</button>
							<button type="button" class="btn btn-danger" onclick="del_datasource()">删除</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
 			<div class="col-lg-12">
				<div class="panel panel-default " style="height:350px;">
					<div class="panel-heading">数据源信息</div>
						<div class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover"  id="data-table" 
										data-toggle="table"  data-click-to-Select=true 
										data-url="${ctx}/datasource/getDataSource" data-method="post" data-content-type="application/x-www-form-urlencoded"
										data-query-params="queryParams" data-query-params-type="undefined" 
										data-pagination=true data-side-pagination="server" data-page-size=20 >
								<thead>
									<tr>
										<th data-radio="true" data-width="30px"></th>
										<th data-field="index" class="text-center" data-formatter="indexFormatter" data-width="60px">序号</th>
										<th  class="text-center" data-field="id" >名称</th>
										<th  class="text-center" data-field="classname">驱动名称</th>
										<th  class="text-center" data-field="url">地址</th>
										<th  class="text-center" data-field="username">用户名</th>
										<th  class="text-center" data-field="password">密码</th>
										<th  class="text-center" data-field="jndi">jndi</th>
									</tr>
								</thead>
							</table>
						</div>
				</div>
			</div>
		</div>
		</div>
	</body>

</html>